<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::header">
    <title>Samazon</title>
</head>
<body>
<div th:replace="base::navlinks"></div>
<div class="container">

    <h4>All Items</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col" sec:authorize="hasAuthority('ADMIN')">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td>
                <a th:href="@{/product/{id} (id=${product.id})}">
                    <img height="150" th:src="${product.image}" width="150"/>
                </a>
            </td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/edit/{id} (id=${product.id})}">Edit Product</a>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/delete/{id} (id=${product.id})}">Delete Product</a>
            </td>
        </tr>
        </tbody>
    </table>


    <a class="nav-link" href="/newproduct" sec:authorize="hasAuthority('ADMIN')">Add Product</a>


    <!--<table>-->
    <!--<tr th:each="product : ${products}">-->

    <!--<td><img th:src='${product.image}' width="150" height="150"/></td>-->
    <!--<a th:href="/product/{id2} (id2=${product.id})}" th:text ="'Name: ' +${product.name}">Name </a>-->
    <!--<td th:text ="'Price: ' +${product.price}">Price</td>-->
    <!--<td th:text ="'Description: ' +${product.description}">Description</td>-->
    <!--</tr>-->
    <!--</table>-->
</div>
<div th:replace="base::footer"></div>
</body>
</html>