<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Samazon</title>
</head>
<body>
<h2>All Items</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Image</th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><img th:src='${product.image}' width="150" height="150"/></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>



<!--<table>-->
<!--<tr th:each="product : ${products}">-->

<!--<td><img th:src='${product.image}' width="150" height="150"/></td>-->
<!--<a th:href="/product/{id2} (id2=${product.id})}" th:text ="'Name: ' +${product.name}">Name </a>-->
<!--<td th:text ="'Price: ' +${product.price}">Price</td>-->
<!--<td th:text ="'Description: ' +${product.description}">Description</td>-->
<!--</tr>-->
<!--</table>-->
</body>
</html>