<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Samazon</title>
</head>
<body>
<div class="container">
    <th:block th:replace="Base :: navlinks"></th:block>
    <div class="starter-template">
        <h5>Order Details</h5>
        <div th:inline="text"> Order # [[${Order.id}]]</div>
    </div>
    <br /><br />
    <table class="table table-striped">
        <tr>
            <th>Image</th>
            <th>Product:</th>
            <th>Price</th>
            <th>Description</th>

            <!--<th></th>-->
        </tr>
        <tr th:each="product : ${products}">
            <td><img th:src='${product.image}' width="150" height="150"/></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
        </tr>
    </table>
    <div th:inline="text"> Shipping: [[${message}]]</div>
    <div th:inline="text"> Your Order Total = $[[${total}]]</div>

</div><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>