<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

@GetMapping("/searchproduct")
public String getproductSearch(){
//model.addAttribute("product", new Product());
return "searchform";
}
@PostMapping("/searchproduct")
public String showseachResult(HttpServletRequest request, Model model){
String searchnameofproduct = request.getParameter("search");
model.addAttribute("search", searchnameofproduct);
model.addAttribute("searchproducts", productRepository.findAllByNameContainingIgnoreCase(searchnameofproduct));

System.out.println(productRepository.findAllByNameContainingIgnoreCase(searchnameofproduct).toString());

return "SearchResult";
}


</body>
</html>